body {
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
}

#app {
    height: 100%;
}

.bg {
    background-image: url(http://i.giphy.com/l0HlEPNgC6Sdm4dQk.gif);
}

