.text-align-center {
    text-align: center;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.wrap {
    max-width: 800px;
    margin: auto;
}

.strong {
    font-weight: bold;
}

.margin-top {
    margin-top: 20px;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}
